
* {
	margin: 0; 
	padding: 0;
}

body {
	background: #f8f8f8;
}

html{
	/*background-image: linear-gradient(#fff, #ccc);*/
}

a {
    text-decoration: none;
}

div, figure, img, section {
    margin: 0px;
	padding: 0px;
	border: 0px none;
	font: inherit;
	vertical-align: baseline;
}

img, video {
    max-width: 100%;
    height: auto;
}

.contenedor_post{
	position: relative;
	margin-bottom: 20px; 
	background:transparent;
}

.sticky {
	position: fixed; 
	top: 0;
	z-index: 1030;
}


.footer {
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    border-top-width: 2px;
    opacity: 0.5;  
	background: #232525;
}

.contenedor-footer
{
  margin: auto;
  text-align:center;
}

.contenedor-footer .creditos {
  margin: 20px 0;
}

.texto-callado {
    color: #999999;
}

.post {
	background:#fff;
	border-bottom:#DDD 1px solid;
	border-bottom:rgba(0,0,0,.13) 1px solid;
	box-shadow:0 0 20px rgba(0,0,0,.1);
}

.wp-post-image {
    display: block;
    width: 100%;
	max-height: 200px;
	border-radius: 0px;
}

.post .miniatura{
	position:relative;
	height:auto;
	padding: 5px;
}

.post .extracto {
	position:relative;
    padding: 2.9%;
    margin: 5px;
	height: auto;
}

.entry-header{
	clear:both;
	float:none;
	width:auto;
}
.entry-title{
	font-size: 24px;
	line-height: 1.62em;
    font-family: "samba",sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    overflow: hidden;
}

.entry-summary{
	font-family: "gulim",sans-serif;
	clear:both;
	margin:0;
	text-align:justify;
}

.ziseimgpost{
    height: 200px;
	width: 200px;
}

.extracto{
	height:100px;
	background:#dde8de;
  	opacity:0.8;
}

.miniatura{
	height:200px;
}

.error
{
	color:red;
	font-size: 0.9em;
}

.st{
	padding: 10px;
	box-shadow:0 0 5px rgba(0,0,0,.1);
	border: 1px solid #ccc;
	border-radius: 5px;
	max-height:auto;
}

.img-header{
	max-height:250px;
	height: auto;
	width:100%;
}
.container-img_header
{
	min-width:300px;
	overflow: hidden;
}

.fondoLV
{
	background:blue;
	padding:10px;
}

.img-colaborador{
	min-height: 100px;
	max-height: 200px;
}

.post_colaboradores
{
	margin-bottom: 20px; 
	background:#fff;
	border-bottom:#DDD 1px solid;
	border-bottom:rgba(0,0,0,.13) 1px solid;
	box-shadow:0 0 20px rgba(0,0,0,.1);
	padding:10px;
}

.banner
{
	position:relative;
	height:auto;
}

.cont
{
    padding:10px;
	border: 1px solid black;
    border-radius: 10px;
	background: #A0151D;
    height: 122px;
    width: 252px;
}

.footer-header {
    background: none repeat scroll 0% 0% #121214;
    border-top: 4px solid #1F1F1F;
    font-size: 0.9em;
    margin-top: 10px;
    padding: 10px 0px 0px;
}

.footer-copyright {
    background: none repeat scroll 0% 0% #0C0C0C;
    border-top: 4px solid #111;
    padding: 30px 0px 10px;
}

.alpie
{
	
}

.icon-item:hover
{
	/*-webkit-animation: spin 1s  linear;
    -o-animation: spin 1s  linear;
    animation: spin 1s  linear;*/

    -webkit-transform:rotatey(720deg) ;
    -moz-transform:rotatey(720deg) ;
    -o-transform:rotatey(720deg) ;
    -ms-transform:rotatey(720deg) ;
    transform:rotatey(720deg) ;

   -webkit-transition: all 2s ease-in-out;
   -moz-transition: all 2s ease-in-out;
   -o-transition: all 2s ease-in-out;
   -ms-transition: all 2s ease-in-out;
   transition: all 2s ease-in-out;
}

.contenido
{
	
}

#content-left > aside
{
	background: linear-gradient(#fff, #ccc);
} 

#content-left2 > aside
{
	background: linear-gradient(#fff, #ccc);
} 

#content-right > aside
{
	background: linear-gradient(#fff, #ccc);
}

.margin-content
{
	margin-right: 20px;
}

.texto_header
{
	text-align: right;
	margin: -20px 5px 20px 0px;
}

.fecha_post
{
	text-align: right;
}

.parrafos_noticias
{
	/*word-spacing:5em;*/
}

.search
{
	margin: 30px 0px;
	padding-top: 1px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.img_admonColaboradores
{
	max-width: 60px;
	max-height: 60px;
}

.alert-box label
{
	color: #5cb85c;
}

.promotor_mes
{
	text-align:center;
	font-weight: normal;
}

#div_promotor
{
	display:none;
	margin: 0px 0px;
	margin-bottom: 10px;
	padding: 10px 5px;
	background:#fff;
	border-bottom:#DDD 1px solid;
	border-bottom:rgba(0,0,0,.13) 1px solid;
	box-shadow:0 0 20px rgba(0,0,0,.1);
}

#contDefPromotor
{
	margin: 5px;
	padding: 5px;
	background:#DDE8DE;
	box-shadow:0 0 10px rgba(0,0,0,.1);
}

#contDefPromotorHidden
{
	padding: 5px;
	background:#DDE8DE;
	box-shadow:0 0 20px rgba(0,0,0,.1);
}

.promotor_mes dfn:hover
{
	cursor: pointer;
}

.tituloinfo{
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 10px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 3;
}

.add_scroll
{
	overflow-y:scroll !important; 
}

.remove_scroll
{
	overflow-y:hidden !important;
}

.spline {
	margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    width: 56px;
    margin: -5px auto 8px;
    display: block;
}

.splinemenu {
	margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    width: auto;
    margin: -5px auto 8px;
    margin-left: 5px;
    margin-right: 5px;
    display: block;
}

.bColor {
    border-color: #0b556a;
}

.bColor2 {
    border-color: rgba(0,0,0,.1);
}

.title-admon {
    font-size: 18px;
    font-weight: 700;
}

.visorControls
{
	cursor: pointer;
}

.text_bienvenida {
    text-align:center;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-family:'Comic Sans MS'; 
    text-shadow:20px 15px 2px #333;
}

/*#datepicker{
	width: 74%;
	display: inline;
	margin-right: 5px;
}

.ui-datepicker-trigger{
	margin-top:-7px;
	vertical-align: middle;
}*/

/*.datepicker table tr td.today{
	background: green !important;
}*/

.divinicio{
	display: inline;
	margin-left: 5px;	
}